[submodule "Practice"]
	path = Practice
	url = https://github.com/bhavaniS3/Practice.git
[submodule "submoduleBhavani"]
	path = submoduleBhavani
	url = https://github.com/bhavaniS3/Bhavani.git
	branch = master
